[Unit]
Description=Scan Whisperer Service

[Service]
ExecStart=/usr/bin/python3 /opt/scanwhisperer/scanwhisperer/program/scanwhisperer.py -c /opt/scanwhisperer/data/config/frameworks.ini -l /opt/scanwhisperer/data/scanwhisperer.log -D
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
User=scanwhisperer

[Install]
WantedBy=default.target